{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Шаблоны</h1>
    <div>Тема лабораторной - шаблоны. Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab2/example">Example</a>
        </li>
    </ol>
    <div>Список роутов лабораторной работы 2:</div>
    <ol>
        <li>
            <a href="/lab2/a/">Роут со слэшем</a>
        </li>
        <li>
            <a href="/lab2/a">Роут без слэша</a>
        </li>
        <li>
            <a href="/lab2/flowers/1">Определённый цветок из списка</a>
        </li>
        <li>
            <a href="/lab2/flowers/list">Список всех цветов</a>
        </li>
        <li>
            <a href="/lab2/flowers/clear">Очистка списка цветов</a>
        </li>
        <li>
            <a href="/lab2/add_flower/георгина/150">Добавление цветка</a>
        </li>
        <li>
            <a href="/lab2/add_flower/">Добавление цветка без параметра</a>
        </li>
        <li>
            <a href="/lab2/filters">Фильтры</a>
        </li>
        <li>
            <a href="/lab2/calc">Математические операции</a>
        </li>
        <li>
            <a href="/lab2/books">Книги</a>
        </li>
        <li>
            <a href="/lab2/cats">Коты</a>
        </li>
    </ol>
{% endblock %}
