{% extends "base.html" %}

{% block lab %}
Лабораторная работа 3
{% endblock %}

{% block main %}
<h1>Формы, cookie</h1>
<div>
    Привет, <span style="color: {{ name_color }};">{{ name }}</span>! Возраст: {{ age }}.
</div>
<div>Список сделанных страниц:</div>

<ul>
    <li><a href="/lab3/cookie">Куки</a></li>
    <li><a href="/lab3/del_cookie">Очистить куки</a></li>
    <li><a href="/lab3/form1">Форма пользователя</a></li>
    <li><a href="/lab3/order">Заказ напитка</a></li>
    <li><a href="/lab3/settings">Цвет текста</a></li>
    <li><a href="/lab3/ticket_form">Железнодорожный билет</a></li>
    <li><a href="/lab3/clear-settings">Очистить настройки отображения</a></li>
    <li><a href="/lab3/products">Поиск товаров по цене</a></li>
</ul>
{% endblock %}