<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фот Виктория. Лабораторная работа 2</title>
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа 2
    </header>
    <main>
        <p>Имя студента: {{ name }}</p>
        <p>Группа: {{ group }}</p>
        <p>Курс: {{ course }}</p>
    </main>
    <footer>
        &copy; {{ name }}, {{ group }}, {{ course }} курс, 2025
    </footer>
</body>
</html>