<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if name %}{{ name }}. {% endif %}
        {% if lab_num %}Лабораторная работа {{ lab_num }}{% else %}Лабораторная работа{% endif %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. {% if lab_num %} Лабораторная работа 2{% endif %}
    </header>
    <main>
        <h2>Математические выражения:</h2>
        <p>5 + 2 = {{ 5 + 2 }}</p>
        <p>11 × 28 = {{ 11 * 28 }}</p>
        <p>3258 − 759 = {{ 3258 - 759 }}</p>
        <p>8452 / 793 = {{ 8452 / 793 }}</p>
        <p>45<sup>8</sup> = {{ 45**8 }}</p>
    </main>
    <footer>
        &copy; 
        {% if name %}
            {{ name }},
        {% else %}
            Анонимус,
        {% endif %}
        
        {% if group %}
            {{ group }},
        {% else %}
            группа не указана,
        {% endif %}
        
        {% if course %}
            {{ course }} курс,
        {% else %}
            курс не указан,
        {% endif %}
        2025
    </footer>
</body>
</html>